<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
	<!-- 项目名称 -->
	<property name="PROJECT_NAME" value="DB-SERVICE" />
	<!-- 路径 -->
	<property name="LOG_HOME" value="/var/logs" />
	<!-- 文件最大 -->
	<property name="FILESIZE" value="50MB" />
	<!-- 保存天数 -->
	<property name="MAXHISTORY" value="15" />
	<!-- 环境 -->
	<property name="PROFILE" value="dev" />
	<!-- 文件名称时间戳 -->
	<timestamp key="DATETIME" datePattern="yyyy-MM-dd" />
	<!-- 控制台打印 -->
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="utf-8"
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread]
				%highlight([%-5level] %logger{50} - %msg%n)</pattern>
		</encoder>
		<filter class="com.system.utils.filter.log.SqlConsoleThresholdFilter">
			<level>DEBUG</level>
		</filter>
	</appender>

	<!-- ERROR 输入到文件，按日期和文件大小 -->
	<appender name="ERROR"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread]
				%highlight([%-5level] %logger{50} - %msg%n)</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/${PROJECT_NAME}/ERROR/${PROFILE}/%d{yyyy-MM-dd}.%i.log
			</FileNamePattern>
			<maxHistory>${MAXHISTORY}</maxHistory>
			<maxFileSize>${FILESIZE}</maxFileSize>
		</rollingPolicy>
	</appender>

	<!-- WARN 输入到文件，按日期和文件大小 -->
	<appender name="WARN"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread]
				%highlight([%-5level] %logger{50} - %msg%n)</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>WARN</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/${PROJECT_NAME}/WARN/${PROFILE}/%d{yyyy-MM-dd}.%i.log
			</FileNamePattern>
			<maxHistory>${MAXHISTORY}</maxHistory>
			<maxFileSize>${FILESIZE}</maxFileSize>
		</rollingPolicy>
	</appender>

	<!-- INFO 输入到文件，按日期和文件大小 -->
	<appender name="INFO"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread]
				%highlight([%-5level] %logger{50} - %msg%n)</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/${PROJECT_NAME}/INFO/${PROFILE}/%d{yyyy-MM-dd}.%i.log
			</FileNamePattern>
			<maxHistory>${MAXHISTORY}</maxHistory>
			<maxFileSize>${FILESIZE}</maxFileSize>
		</rollingPolicy>
	</appender>
	<!-- DEBUG 输入到文件，按日期和文件大小 -->
	<appender name="DEBUG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread]
				%highlight([%-5level] %logger{50} - %msg%n)</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<filter class="com.system.utils.filter.log.SqlDebugFlieThresholdFilter">
			<level>INFO</level>
		</filter>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/${PROJECT_NAME}/DEBUG/${PROFILE}/%d{yyyy-MM-dd}.%i.log
			</FileNamePattern>
			<maxHistory>${MAXHISTORY}</maxHistory>
			<maxFileSize>${FILESIZE}</maxFileSize>
		</rollingPolicy>
	</appender>
	<!-- TRACE 输入到文件，按日期和文件大小 -->
	<appender name="TRACE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread]
				%highlight([%-5level] %logger{50} - %msg%n)</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>TRACE</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/${PROJECT_NAME}/TRACE/${PROFILE}/%d{yyyy-MM-dd}.%i.log
			</FileNamePattern>
			<MaxHistory>${MAXHISTORY}</MaxHistory>
			<MaxFileSize>${FILESIZE}</MaxFileSize>
		</rollingPolicy>
	</appender>

	<!-- 开发环境 -->
	<root level="INFO,WARN,ERROR,STDOUT">
	<!-- 
		<appender-ref ref="DEBUG" /> 
		<appender-ref ref="INFO" />-->
		<appender-ref ref="WARN" />
		<appender-ref ref="ERROR" />
		<appender-ref ref="STDOUT" />
	</root>
	
</configuration>
